<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MTG Card Details</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
		/>
		<link rel="stylesheet" href="/public/css/style.css" />
	</head>

	<body>

		<div>
			{{#if card.card_faces}}
				<img
					class="page-background"
					src="{{card.card_faces.0.image_uris.art_crop}}"
					alt="{{card.name}}"
				/>
			{{else}}
				<img
					class="page-background"
					src="{{card.image_uris.art_crop}}"
					alt="{{card.name}}"
				/>
			{{/if}}
		</div>

		<div class="container">

			<div class="card-container-details">

				<div class="card-image" id="card-image-details">

					{{#if card.card_faces}}
						<img
							src="{{card.card_faces.0.image_uris.normal}}"
							alt="{{card.name}}"
							class="card-face front"
						/>
						<img
							src="{{card.card_faces.1.image_uris.normal}}"
							alt="{{card.name}}"
							class="card-face back"
							style="display: none;"
						/>
						<button class="flip-card" onclick="flipCard()">⤴</button>
					{{else}}
						<img src="{{card.image_uris.normal}}" alt="{{card.name}}" />
					{{/if}}

					{{#if logged_in}}
						<div class="dropdown">
							<div class="dropdown-trigger">
								<button
									class="button"
									aria-haspopup="true"
									aria-controls="dropdown-menu"
									onclick="this.parentNode.parentNode.classList.toggle('is-active')"
								>
									<span>Add to:</span>
									<span class="icon is-small">
										<i class="fas fa-angle-down" aria-hidden="true"></i>
									</span>
								</button>
							</div>
							<div class="dropdown-menu" id="dropdown-menu" role="menu">
								<div class="dropdown-content has-text-left">
									<button
										class="button is-ghost dropdown-item collection"
										card-id="{{card.id}}"
										card-name="{{card.name}}"
									>
										Collection
									</button>
									{{#each decks as |deck|}}
										<button class="button is-ghost dropdown-item deck">
											Deck:
											{{deck.name}}
										</button>
									{{/each}}
								</div>
							</div>
						</div>
					{{/if}}

					<button
						class="add-to-clipboard"
						data-card-name="{{card.name}}"
					>+</button>

				</div>

			</div>

			<div class="card-details">
				<h1 class="card-name">{{card.name}}</h1>

				<p>Type: </p>
				<p class="card-type">{{card.type_line}}</p>

				<p>Text: </p>
				<p class="card-text">{{card.oracle_text}}</p>

				{{#if card.flavor_text}}
					<p>Flavor Text: </p>
					<p class="card-flavor">{{card.flavor_text}}</p>
				{{/if}}

				<p>Artist: </p>
				<p class="card-artist">{{card.artist}}</p>

				<p>Price: </p>
				<p class="card-price">${{card.prices.usd}}</p>
			</div>

		</div>

	</body>

</html>
