<main class="columns is-flex-direction-column">
  <section class="hero is-bold" style="background-color: #361e36">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-white is-size-5-mobile">
          Search Magic: The Gathering Cards
        </h1>
        <h2 class="subtitle has-text-white is-size-6-mobile">
          Explore the multiverse with Scryfall's comprehensive database.
        </h2>
        <form class="field has-addons search-form">
          <div class="control is-expanded">
            <input
              class="input is-medium search-input "
              type="text"
              placeholder="Search for cards"
            />
          </div>
          <div class="control">
            <button
              class="button is-medium is-info search-button"
              style="background-color: #361e36"
            >
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section class="section">
		<div class="container">
			<h2 class="title is-2">Featured Cards</h2>
			<div class="columns is-multiline">
				{{#each featuredCards}}
          <div class="column is-one-third">
            <!-- Wrap the card with an anchor tag that points to the search route with the card's name -->
            <a href="/search/{{this.name}}" class="card" style="width: 100%; height: auto; padding-top: 30px;">
            
            {{!-- Card image --}}
              <div class="card-image" style="width: 75%; height: auto; margin: 0 auto;">
            {{#if this.card_faces}}
                <figure class="image">
                  <img src="{{this.card_faces.[0].image_uris.normal}}" alt="{{this.name}}" class="card-face front" />
                  <img src="{{this.card_faces.[1].image_uris.normal}}" alt="{{this.name}}" class="card-face back" style="display: none;" />
                  <button
                  class="flip-card"
                  onclick="flipCard()"
                  >⤴</button>
            {{else}}
                <figure class="image">
                  <img src="{{this.imageUrl}}" alt="{{this.name}}" onerror="this.style.display='none'"/>
            {{/if}}
                  {{! Add to clipboard button }}
                  <button
                  class="add-to-clipboard"
                  data-card-name="{{this.name}}"
                  >+</button>

                  {{!-- Disabled until ".this" bug is fixed --}}
                  {{!-- Adding to collection from homepage breaks users' collection entirely requiring manual reset --}}
                  {{!-- {{#if ../logged_in}}
                    <button class="add-to-collection" card-id="{{this.id}}" card-name="{{this.name}}"
                    >📁</button>
                  {{/if}} --}}

                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content has-text-centered">
										<p class="title is-4">{{this.name}}</p>
										<p class="subtitle is-6">{{this.set}}</p>
									</div>

                </div>
              </div>
            </a>
          </div>
        {{/each}}
			</div>
		</div>
	</section>


</main>
